<%= turbo_frame_tag dom_id(list) do %>
  <li>
    <div>
      <span><%= list.name %></span>
    </div>

    <div>
      <span><%= link_to 'Acessar', list, data: { turbo_frame: :_top } %></span>
    </div>
  </li>
<% end %>
