<section class="page-header box">
  <div>
    <h2 class="h2">My Lists</h2>
  </div>

  <div>
    <%= link_to 'New List', 
      new_list_path, 
      data: { turbo_frame: dom_id(List.new) }, 
      class: 'button' 
    %>

    <%= turbo_frame_tag dom_id(List.new) %>
  </div>
</section>

<section>
  <ul>
    <%= turbo_frame_tag :lists do %>
      <% @lists.each do |list| %>
        <%= render 'list', list: list %>
      <% end %>
    <% end %>
  </ul>
</section>
