@use '../abstracts/breakpoints' as bp;

.container {
  width: 100%;
  margin: 0 auto;
  
  @media screen and (min-width: bp.$small) {
    width: 90%;
  }

  @media screen and (min-width: bp.$medium) {
    width: 80%;
  }
  
  @media screen and (min-width: bp.$large) {
    width: 70%;
  }
  
  @media screen and (min-width: bp.$extra-large) {
    width: 60%;
  }
}
