<header>
  <nav class="navbar has-shadow is-primary is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand is-flex is-flex-direction-column">
        <%= link_to root_path, class: 'navbar-item py-1' do %>
          <h1 class="title">Four Lists</h1>
        <% end %>

        <small class="navbar-item has-text-black py-0">
          Crie, Configure e compartilhe suas listas.
        </small>
      </div>
    </div>
  </nav>
</header>
