<header class="header">
  <div class="container">
    <%= link_to root_path, class: 'ninja' do %>
      <h1 class="h1">Four Lists</h1>
    <% end %>
    
    <small class="subtitle">
      Crie, Configure e compartilhe suas listas.
    </small>
  </container>
</header>
